* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.game {
    width: 100%;
    height: 607px;
    background-color: black;
    position: relative;
}
.balls {
    position: absolute;
    top: 110px;
    left: 80px;
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-right: 40px;
    animation: balls 0.5s linear infinite;
}
@keyframes balls {
    from {
    }
    to {
        transform: translateX(-70px);
    }
}
.pacman {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    top: 85px;
    left: 18px;
}
.black {
    width: 70px;
    height: 70px;
    z-index: 1;
    position: absolute;
    background-color: black;
    top: 85px;
    left: 485px;
}
img {
    width: 40px;
    position: absolute;
}
@keyframes first {
    0% {
        transform: rotate(90deg);
        left: 0;
    }
    50% {
        transform: rotate(60deg);
        left: -7.5px;
    }
    100% {
        transform: rotate(90deg);
        left: 0;
    }
}
@keyframes second {
    0% {
        transform: rotate(-90deg);
        left: 0;
    }
    50% {
        transform: rotate(-60deg);
        left: -7.5px;
    }
    100% {
        transform: rotate(-90deg);
        left: 0;
    }
}
#first {
    transform: rotate(90deg);
    top: -19px;
    animation: first 0.5s infinite;
}
#second {
    transform: rotate(-90deg);
    top: 19px;
    animation: second 0.5s infinite;
}